body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald";
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1; 
}

nav img {
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.content {
    position: relative; 
    text-align: center; 
    margin-top: 50vh; 
    transform: translateY(-50%); 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    z-index: 1;
}

.content h1 {
    font-size: 60px; 
    margin-bottom: 20px; 
}

.content a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 50px;
    border-radius: 50px;
    margin-top: 10px; 
}

.back-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: -1;
}

.about-me {
    background-color: #000;
    padding: 50px 20px;
    text-align: center;
}

.about-me img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.about-me-content h2, .about-me-content h3 {
    color: #fff;
}

.about-me-content p {
    color: #fff;
    text-align: justify;
    margin-bottom: 20px;
}

.travel-info {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.travel-info img {
    width: 200px;
    height: 200px;
    object-fit: cover; 
    border-radius: 10px; 
    margin-bottom: 20px;
}

.travel-info-content h4, .travel-info-content h5 {
    color: #000;
}

.travel-info-content p {
    color: #000;
    text-align: justify;
    margin-bottom: 20px;
}


